
body {
    background-color: #000000;
    color: white;
    font-family: "Jacquard 24", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: #ffffff;
    color: rgb(0, 182, 45);
    font-family: "Jacquard 24", sans-serif;
}
.passo {
    display: none;
}
.passo.ativo {
    display:block;
}
main {
    text-align: center;
    max-width: 90%;
}
img {
    max-width: 90%;
}



